@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(20, 20, 20);
  color: white;
  padding: 0;
  margin: 0;
}

* {
  scroll-behavior: smooth;
}

.logo {
  @apply font-bold text-3xl;
}

.avatar {
  @apply w-12;
}

section {
  @apply w-full;
}

.add-blog-form {
  @apply w-full py-2 rounded-lg px-2 bg-neutral-800 border border-white/15;
}

.sub-btn {
  @apply font-semibold w-full hover:bg-blue-700 bg-neutral-900 border border-white/15 py-2 rounded-full my-3;
}
.del-btn {
  @apply font-semibold w-full hover:bg-red-700 bg-neutral-900 border border-white/15 py-2 rounded-full my-3;
}
